<h1>Buscando a: <small> {{ termino }}</small></h1>
<hr>

<div class="card-columns">
    <div class="card animated fadeIn fast" *ngFor="let hero of heroes; let i=index">
        <img [src]="hero.img" class="card-img-top" alt="hero.nombre">
        <div class="card-body">
            <h5 class="card-title">{{ hero.nombre}}</h5>
            <p class="card-text">{{ hero.bio }}</p>
            <p class="card-text"><small class="text-muted">{{ hero.aparicion }}</small></p>
            <button (click)="indexFind(termino)" type="button" class="btn btn-outline-primary btn-block">Ver
                más...</button>

        </div>
    </div>

</div>